* {
	margin: 0;
	padding: 0;
}

.background {
	padding-bottom: 5%;
	width: 100%;
}

.text {
	font-family: 'Merriweather', serif;
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.courseForm {
	background: #f9f9f9;
	padding: 3%;
	margin: 10% 0%;
	box-shadow: 0 0 20px 0 rgba(68, 19, 4, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.courseForm input {
	width: 92%;
	border: 1px solid #ccc;
	background: #fff;
	margin: 0 0 5px;
	padding: 10px;
}

.courseForm button {
	cursor: pointer;
	width: 100%;
	border: none;
	background: rgb(230, 64, 14);
	color: #fff;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}
.courseForm h3 {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 5%;
}
label {
	color: white;
}
.courseImg {
	width: 83%;
	margin-top: 3%;
}

.container {
	text-align: center;
	padding: 20px 2px;
	margin-bottom: 9%;
	border: 1px black solid;
}
