<div class="card">
    <ul>
        {{#each courses}}
        <div class="container">

            <a href={{link this.id}}> {{this.name}} </a>
            <br>
            <img src={{this.img}}>

        </div>
        {{/each}}
    </ul>

</div>
</div>