<div>
    <ul>
        {{#each courses}}

        <li> <a href={{link id}}> {{name}} </a></li>
        <li><img width="120px" height="120px" src={{this.img}}> </li>
        {{/each}}
    </ul>

</div>